@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --radius: 0.5em;
  --margin: 0.5em;
  --margin-neg: -0.5em;
  --font: 1em;
  --font-family: 'Poppins', Arial, Helvetica, sans-serif;
  --shadow: rgba(255,255,255,0.1);
  --warning: #ff1567;
  --back: #dde;
  --back-light: #dde;
  --text: #111122;
  --main-text: #dde;
  --main: #336696;
  --main-light: #5588B8;
  --alt: #339666;
  --alt-light: #55B888;
  --transparent: #ccccddCD;
}

@media (prefers-color-scheme: dark) {
  :root {
    --back: #111122;
    --back-light: #333355;
    --text: #dde;
    --main: #336696;
    --main-light: #5588B8;
    --transparent: #00001155;
  }
}

html {
  scroll-behavior: smooth;
  background: linear-gradient(135deg, var(--back), var(--back-light));
  background-repeat: no-repeat;
  font-family: var(--font-family);
}

body {
  overflow-x: hidden;
  color: var(--text);
  padding: 0;
  margin: 0;
}

.title {
  font-size: max(7.5vw, 2em, 4rem);
  text-align: center;
  margin-top: 20vh;
}

.svg {
  color: var(--main-text);
  fill: var(--main-text);
  width: calc(var(--font)*1.20);
  height: calc(var(--font)*1.55);
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.navCont {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.nav {
  align-items: center;
  border-radius: 100em;
  top: 0;
  position: fixed;
  z-index: 1000000 !important;
  display: flex;
  flex-direction: row;
  margin: var(--margin);
  background-color: var(--transparent);
  backdrop-filter: blur(var(--margin));
  -webkit-backdrop-filter: blur(var(--margin));
  color: var(--text);
  border: 1px solid var(--back-light);
  font-size: max(1vw, 1em, 1.5rem);
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text);
  text-decoration: none;
  margin: var(--margin);
  padding: calc(var(--margin)*1.5) calc(var(--margin)*2);
  border-radius: 100em;
  transition: all 0.3s ease-in-out;
}

.link:last-child {
  margin-left: auto;
  background-color: var(--main);
}

.link:last-child:hover {
  background-color: var(--main-light);
}

.link:hover {
  transform: scale(1.1);
}

.link::after {
  content: '';
  display: block;
  position: absolute;
  transform: translate(0,0.6em);
  width: 0;
  height: 0.1em;
  background-color: var(--text);
  transition: all 0.3s ease-in-out;
}

.link:not(:last-child):hover::after {
  width: 70%;
}

.link:hover .svg {
  transform: scale(1.1);
}

